# Ignore everything
*

# But not these files...
!.gitignore

# ...even if they are in subdirectories
# !*/

# if the files to be tracked are in subdirectories
!*/src/data/demo.json
!*/src/data/demo-old.json
!*/src/data/demo (1).json
!"*/src/data/demo (1).json"
# !*/a/b/c/*